* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* body {
    height: 1536px;
} */
.header {
  height: 70px;
  background-color: #02a28f;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.container {
  width: 100%;
  max-width: 1168px;
  padding: 0 20px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
.header__wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.header__logo {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.header__list {
  margin-left: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.container-mid {
  display: flex;
  gap: 24px;
}
.container__main {
  width: 744px;
  height: 100%;
}
.top-content {
  height: 396px;
  background-color: #d9d9d9;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.top-content__text {
  position: absolute;
  left: 22px;
  bottom: 24px;
}
.bold-text {
  font-weight: 700;
}
.container__bold-text {
  font-size: 32px;
  font-weight: 700;
}
.mid-content {
  height: 48px;
  background-color: #02a28f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 22px;
  border-radius: 10px;
  margin: 24px 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.green-menu-text {
  font-weight: 700;
  font-size: 20px;
}
.green-menu-text__small {
  color: #fff;
  font-size: 14px;
}
.bottom-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.bottom-content__block {
  width: 360px;
  height: 396px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.block__img {
  height: 191px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.block__green-text {
  color: #02a28f;
  font-size: 14px;
  font-weight: 400;
}
.block__bold-text {
  font-size: 20px;
  font-weight: 700;
}
.shadow-text__bold-text {
  color: #616161;
  font-size: 14px;
  font-weight: 700;
}
.block__shadow-text {
  color: #616161;
  font-size: 14px;
  font-weight: 500;
}
.block__content-text {
  font-size: 14px;
  font-weight: 400;
  margin: 14px 0;
}
.block__date-text {
  color: #616161;
  font-size: 14px;
  font-weight: 500;
}
.block__text-content {
  margin: 12px 12px 0 12px;
}
.green-text-content {
  background-color: #02a28f;
  border-radius: 10px;
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.green-text-content__text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.side-bar__recomended {
  width: 360px;
  height: 96px;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}
.recomended__img {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 132px;
  height: 70px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.recomended__bold-text {
  position: absolute;
  left: 156px;
  top: 12px;
  font-size: 14px;
  font-weight: 700;
}
.recomended__date-text {
  position: absolute;
  left: 156px;
  top: 36px;
  color: #616161;
  font-size: 12px;
  font-weight: 500;
}
.side-bar__recomended2 {
  width: 360px;
  height: 96px;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 16px;
}
.side-bar__recomended3 {
  width: 360px;
  height: 96px;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 22px;
}
.kategori {
  margin: 26px 0;
}
.label1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.label2 {
  display: flex;
  justify-content: space-between;
}
.text-label {
  font-weight: 600;
  font-size: 16px;
  color: #616161;
}
.bottom-content-tail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #02a28f;
  margin-top: 60px;
}
.bottom-text {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
